
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">

    </div>
    <br />
    <div class="row">
        <h3>Enable migrations on PM (not case sensitive)</h3>
        <div class="container">
            <ul>
                <li>PM> enable-migrations</li>
            </ul>
        </div>
        <br />
        <br />

        <h3>Create your first migration</h3>
        <div class="container">
            <ul>
                <li>PM> add-migration InitialModel</li>
                <li>InitialModel = Give it a name related to the type of change we’ve made to the Domain model.</li>
                <li>Under Migrations folder, a new .cs file is created, prefixed with numbers + “_InitialModel.cs”.</li>
            </ul>
        </div>
        <br />
        <br />

        <h3>Clear the text on the window</h3>
        <div class="container">
            <ul>
                <li>PM> cls</li>
            </ul>
        </div>
        <br />
        <br />

        <h3>Use the “-force” switch to overwrite the migration:</h3>
        <div class="container">
            <ul>
                <li>PM> add-migration InitialModel –force</li>
            </ul>
        </div>
        <br />
        <br />

        <h3>Run your create scripts to create the tables</h3>
        <div class="container">
            <ul>
                <li>PM> update-database</li>
            </ul>
        </div>
        <br />
        <br />

        <h3>GitHub, create new repository</h3>
        <div class="container">
            <ul>
                <li>Create a new repository on GitHub. To avoid errors, do not initialize the new repository with README, license, or gitignore files. You can add these files after your project has been pushed to GitHub.</li>
                <li>Open Git Bash.</li>
                <li>Change the current working directory to your local project.</li>
                <li>
                    Initialize the local directory as a Git repository.
                    $ git init -b main
                </li>
                <li>
                    Add the files in your new local repository. This stages them for the first commit.
                    $ git add .
                    # Adds the files in the local repository and stages them for commit. To unstage a file, use 'git reset HEAD YOUR-FILE'.
                </li>
                <li>
                    Commit the files that you've staged in your local repository.
                    $ git commit -m "First commit"
                    # Commits the tracked changes and prepares them to be pushed to a remote repository. To remove this commit and modify the file, use 'git reset --soft HEAD~1' and commit and add the file again.
                </li>
                <li>At the top of your GitHub repository's Quick Setup page, copy the remote repository URL.</li>
                <li>
                    In the Command prompt, add the URL for the remote repository where your local repository will be pushed.
                    $ git remote add origin  <REMOTE_URL>
                        # Sets the new remote
                        $ git remote -v
                        # Verifies the new remote URL
                </li>
                <li>
                    Push the changes in your local repository to GitHub.
                    $ git push origin main
                    # Pushes the changes in your local repository up to the remote repository you specified as the origin
                </li>
                <li>
                    Source: <a href="https://docs.github.com/en/github/importing-your-projects-to-github/adding-an-existing-project-to-github-using-the-command-line">
                        https://docs.github.com/en/github/importing-your-projects-to-github/adding-an-existing-project-to-github-using-the-command-line
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>