
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Web Designer Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-1.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if gte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie9.css" />
    <![endif]-->
    @*<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>*@
    <script src="~/js/templateJS/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <div class="nav-container">
        <nav class="simple-bar top-bar">
            <div class="container">
                <div class="row nav-menu">
                    <div class="col-md-3 col-sm-3 columns">
                        <a href="~/Home/Index">
                            <img class="logo logo-dark" alt="Logo" src="~/images/templateIMGs/logotype_dark.png">
                        </a>
                    </div>

                    <div class="col-md-9 col-sm-9 columns text-right">
                        <ul class="menu">
                            <a></a>
                            <li><a href="~/Home/Index" target="_self">Home</a></li>
                            <li><a href="~/Home/About" target="_self">About me</a></li>
                            @*<li><a href="portfolio.html" target="_self">portfolio</a></li>
                            <li><a href="blog.html" target="_self">Blog</a></li>*@
                            <li><a href="~/Home/Contact" target="_self">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-toggle">
                    <i class="icon icon_menu"></i>
                </div>
            </div>
        </nav>
    </div>


    @RenderBody()


    <div class="footer-container">
        <footer class="bg-primary short-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="text-white">© 2021 Willie Sandoval - All Rights Reserved.</span>
                        <br>
                        <br>
                        <i class="icon text-white icon_mail"></i>
                        <a href="/Home/Contact" class="text-white"><span class="text-white"> Get in touch with me <i class="icon arrow_right"></i></span></a>
                    </div>
                </div>
            </div>
            <br />
        </footer>
    </div>




    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="~/js/templateJS/jquery.min.js"></script>
    <script src="~/js/templateJS/jquery.plugin.min.js"></script>
    <script src="~/js/templateJS/bootstrap.min.js"></script>
    <script src="~/js/templateJS/jquery.flexslider-min.js"></script>
    <script src="~/js/templateJS/smooth-scroll.min.js"></script>
    <script src="~/js/templateJS/skrollr.min.js"></script>
    <script src="~/js/templateJS/spectragram.min.js"></script>
    <script src="~/js/templateJS/scrollReveal.min.js"></script>
    <script src="~/js/templateJS/isotope.min.js"></script>
    <script src="~/js/templateJS/twitterFetcher_v10_min.js"></script>
    <script src="~/js/templateJS/lightbox.min.js"></script>
    <script src="~/js/templateJS/jquery.countdown.min.js"></script>
    <script src="~/js/templateJS/scripts.js"></script>



    @RenderSection("Scripts", required: false)

    @*
    *@

</body>
</html>

