@model WillieSandoval_2_28_2021.ViewModels.SampleCodeVBDotNETViewModel

<div class="main-container">
    <section class="showBullets">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8">

                    <h1>@ViewData["Title"]</h1>

                    <div class="container">
                        <div class="row">
                            Below is an example of web services to Nutshell.com.
                        </div>
                        <br />
                        <div class="row">
                            <h3>Sample Code</h3>
                            <div class="container">
                                Sample Code.
                            </div>
                            <div class="code"><div class="code">@Model.Page</div></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>