@model WillieSandoval_2_28_2021.ViewModels.SampleCodeVBDotNETViewModel

@{
    Layout = "~/Views/Shared/_LayoutNoTemplate.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        Below is an example of LeadTools at work.
    </div>
    <br />
    <div class="row">
        <h3>Sample Code</h3>
        <div class="container">
            Sample Code.
        </div>
        <div class="code"><div class="code">@Html.Raw(Model.Page)</div></div>
    </div>
</div>