
<div class="main-container">
    <section class="pure-text-centered">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">

                    <h1><strong>A little information about me</strong></h1>
                    <p class="lead">
                        I have been a web and software developer for 13+ years. My strength lies in taking projects from conception to completion, focusing on great backend designs and implementations.  I am regularly put to the challenge to come up with creative solutions to complex issues, often creating proof-of-concept projects.  I am always finding ways to add value to where I'm placed, primarily focusing on designing, programming, brainstorming and coming up with new solutions, and answering all of my team members' questions.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="inline-image-right">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 align-vertical no-align-mobile">
                    <h1>Why am I doing this?</h1>
                    <h6>Because I love it</h6>
                    <p class="lead">
                        Programming keeps my mind active and entertained. It's so much fun to be challenged, especially when implementing complex algorithms! I always look forward to sitting down in front of the computer to finish my projects, giving me a sense of accomplishment. My career as a programmer has truly made me feel fulfilled both professionally and emotionally.
                    </p>
                </div>

                <div class="col-sm-6 text-center">
                    <img alt="Product Image" class="product-image" src="~/images/templateIMGs/Willie_Sandoval.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="duplicatable-content">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>A few things you need to know</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-pictures"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Active Portfolio</h5>
                            <ul>
                                <li><a href="http://WillieSandoval.com" class="link-text" target="_blank" rel="noopener noreferrer">WillieSandoval.com</a></li>
                                <li><a href="http://DFWAirConditioningExperts.com" class="link-text" target="_blank" rel="noopener noreferrer">DFWAirConditioningExperts.com</a></li>
                                <li><a href="https://ParentAgent.com" class="link-text" target="_blank" rel="noopener noreferrer">ParentAgent.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-briefcase"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Previous Employers</h5>
                            <ul>
                                <li><a href="~/Employer/Index" class="link-text">View List</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-search"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Past Projects</h5>
                            <ul>
                                <li><a href="~/Projects/Index" class="link-text">View List</a></li>
                                <li><a href="~/Projects/ListOfProjectsCompactView" class="link-text">View List</a> (Compact View)</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-happy"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Soft Skills</h5>
                            <ul>
                                <li>Detail & Results-Oriented</li>
                                <li>Problem Solving & Critical Thinking</li>
                                <li>Strong Work Ethic, Punctual, & Depandable</li>
                                <li>Time Management</li>
                                <li>Honest, Transparent, & Loyal</li>
                                <li>Teamwork & Desire to Learn & Teach</li>
                                <li>Design Aptitude & Thinking Outside Box</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-puzzle"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Sample Code - C#</h5>
                            <ul>
                                <li><a href="~/SampleCodeCSharp/RepositoryPatternWithGenericsInDotNETCore" class="link-text">Repository Pattern with Generics In .NET Core</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-puzzle"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Sample Code - VB.NET</h5>
                            <ul>
                                <li><a href="~/SampleCodeVBDotNET/GetSignatureCoordinatesFromPDF" class="link-text">Get Signature Coordinates From PDF</a></li>
                                <li><a href="~/SampleCodeVBDotNET/SeparatePDFIntoSmallerPDFs" class="link-text">Separate PDF Into Smaller PDFs</a></li>
                                <li><a href="~/SampleCodeVBDotNET/NonBorrowerToViewDocuSignDisclosureUpdates" class="link-text">non-Borrowers To View DocuSign Disclosure Updates</a></li>
                                <li><a href="~/SampleCodeVBDotNET/CustomSort" class="link-text">Custom Sort Project</a></li>
                                <li><a href="~/SampleCodeVBDotNET/NutshellWebServices" class="link-text">Nutshell - Web Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-puzzle"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Sample Code - SQL</h5>
                            <ul>
                                <li><a href="~/SampleCodeSQL/CustomPagination" class="link-text">Custom Pagination</a></li>
                                <li><a href="~/SampleCodeSQL/AdvancedQuery" class="link-text">Advanced Query</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-puzzle"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Sample Code - Front End</h5>
                            <ul>
                                <li><a href="~/SampleCodeFrontEnd/JQueryDatatables" class="link-text">JQuery Datatables</a></li>
                                <li><a href="~/SampleCodeFrontEnd/JQueryDatatablesCustom" class="link-text">JQuery Datatables - added to existing code</a></li>
                                <li><a href="~/SampleCodeFrontEnd/ChangeExitToAsyncCall" class="link-text">Change to Async</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-pencil"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Notes - .NET Frameworks</h5>
                            <ul>
                                <li><a href="~/NotesDotNetFramework/CSharp" class="link-text">C#</a></li>
                                <li><a href="~/NotesDotNetFramework/CommandLineInterface" class="link-text">Command Line Interface</a></li>
                                <li><a href="~/NotesDotNetFramework/UnitTesting" class="link-text">Unit Testing</a></li>
                                <li><a href="~/NotesDotNetFramework/DifferencesBetweenFrameworks" class="link-text">Differences Between Frameworks</a></li>
                                <li><a href="~/NotesDotNetFramework/DotNETMVCsFolderAndFiles" class="link-text">ASP.NET MVC's Folder and Files</a></li>
                                @*<li>smart_keys_smart_moves.docx</li>*@
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
