
<div class="main-container">
    <header class="header-icons overlay">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="~/images/templateIMGs/header_image.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-white">
                        Hi, I'm Willie Sandoval.<br>Programmer with over 15 years experience in IT.
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <i class="icon icon-desktop text-white"></i>
                    <h2 class="text-white">Software Developer</h2>
                </div>

                <div class="col-sm-4">
                    <i class="icon text-white icon-phone"></i>
                    <h2 class="text-white">Web Developer</h2>
                </div>

                <div class="col-sm-4">
                    <i class="icon text-white icon-strategy"></i>
                    <h2 class="text-white">Database Developer</h2>
                </div>
            </div>

        </div>
    </header>

    <section class="skill-bars">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>My skills</h1>
                    <p class="lead">
                        Programmer with broad range of technical skills and real-world experience with a passion to develop on the backend.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="skills-left skills">
                        <h3>Design</h3>
                        <ul class="skills-ul">
                            <li>
                                <span>Web Design</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-10"></div>
                                </div>
                            </li>

                            <li>
                                <span>Database Design</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-10"></div>
                                </div>
                            </li>

                            <li>
                                <span>Web Services</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-10"></div>
                                </div>
                            </li>

                            <li>
                                <span>Software Design / Design Patterns</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-9"></div>
                                </div>
                            </li>

                            <li>
                                <span>Mobile-First Design</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-9"></div>
                                </div>
                            </li>

                            <li>
                                <span>TDD / Unit Testing</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-8"></div>
                                </div>
                            </li>

                            <li>
                                <span>Branding &amp; Identity</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-7"></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="skills-right skills">
                        <h3>Developing</h3>
                        <ul class="skills-ul">
                            <li>
                                <span>C#</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-10"></div>
                                </div>
                            </li>

                            <li>
                                <span>SQL / T-SQL</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-10"></div>
                                </div>
                            </li>

                            <li>
                                <span>JavaScript / jQuery</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-10"></div>
                                </div>
                            </li>

                            <li>
                                <span>HTML / CSS3 / Bootstrap</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-10"></div>
                                </div>
                            </li>

                            <li>
                                <span>.NET WebForms</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-9"></div>
                                </div>
                            </li>

                            <li>
                                <span>VB.NET / VBScript / VB6</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-9"></div>
                                </div>
                            </li>

                            <li>
                                <span>.NET Core / .NET MVC /  .NET WinForms</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-8"></div>
                                </div>
                            </li>

                            <li>
                                <span>Agile</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-8"></div>
                                </div>
                            </li>

                            <li>
                                <span>Git</span>
                                <div class="skill-bar-holder">
                                    <div class="skill-capacity col-xs-7"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="no-pad-bottom projects-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <h1>Check out my latest features</h1>
                    <p class="lead">
                        Developed in .NET Core &amp; .NET MVC.<br />
                        View my <a href="https://www.github.com/LonghornGraduate" class="link-text">GitHub</a>.
                    </p>
                </div>
            </div>

        </div>

        <div class="projects-wrapper clearfix">


            <div class="projects-container">

                <div class="col-md-6 col-sm-12 no-pad project development image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="~/images/templateIMGs/project_2.jpg">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h1 class="text-white"><strong>Flickity Slider / Carousel</strong>&nbsp;- DFW Air Conditioning Experts</h1>
                            <p class="text-white">Custom lightweight slider with a lot of options.</p>
                            <a href="https://DFWAirConditioningExperts.com" class="btn btn-primary btn-white" target="_blank" rel="noopener noreferrer">See Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 no-pad project development image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="~/images/templateIMGs/project_3.jpg">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h1 class="text-white"><strong>ElfSight Reviews Slider / Carousel / List</strong>&nbsp;- DFW Air Conditioning Experts</h1>
                            <p class="text-white">Display your business' Yelp, Google, Facebook, and Amazon reviews. Add from over 20+ review platforms in different formats.</p>
                            <a href="https://DFWAirConditioningExperts.com" class="btn btn-primary btn-white" target="_blank" rel="noopener noreferrer">See Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 no-pad project print image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="~/images/templateIMGs/project_4.jpg">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h1 class="text-white"><strong>Flickity Slider / Carousel</strong>&nbsp;- DFW Air Conditioning Experts</h1>
                            <p class="text-white">Custom lightweight slider with a lot of options.</p>
                            <a href="https://DFWAirConditioningExperts.com" class="btn btn-primary btn-white" target="_blank" rel="noopener noreferrer">See Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 no-pad project branding image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="~/images/templateIMGs/project_11.jpg">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h1 class="text-white"><strong>Flexslider Slider / Carousel</strong>&nbsp;- Parent Agent</h1>
                            <p class="text-white">Custom slider.</p>
                            <a href="https://ParentAgent.com" class="btn btn-primary btn-white" target="_blank" rel="noopener noreferrer">See Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 no-pad project print image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="~/images/templateIMGs/project_12.jpg">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h1 class="text-white"><strong>Facebook Login</strong>&nbsp;- Parent Agent</h1>
                            <p class="text-white">Allow users to login with their Facebook credentials.</p>
                            <a href="https://ParentAgent.com" class="btn btn-primary btn-white" target="_blank" rel="noopener noreferrer">See Project</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="timeline-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>Here is a little of my story</h1>
                    <p class="lead">
                        I am grateful for every opportunity in my life. Everything is a learning experience.
                    </p>
                </div>
            </div>

            <!--https://museomix.be/doc/Icons-ET-LineIcons.html - defaults: icon-trophy, icon-target, icon-video, icon-map-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="timeline-event">

                        <div class="col-sm-6 col-md-push-6">
                            <h2>2003-2009</h2>
                            <h5>CS and Math BS Degrees from UT of A<br></h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-trophy"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6 col-md-pull-6">
                            <p>
                                Computer Science and Math (Scientific Computation) B.S. Degrees from The University of Texas at Austin. The CS degree focused of 3 major fields of study: programming, logic, and computer architecture. Emphesis was given on solving complex algorithms and issues with advanced understanding of programming semantics, collections, and OOP.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6">
                            <h2>2006-2007</h2>
                            <h5>QA Internship at Austin Logistics</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-edit"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Intership position to help test and document the software and user experience. <a href="/Employer/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6 col-md-push-6">
                            <h2>2007-2008</h2>
                            <h5>QA Internship at Powered</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-edit"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6 col-md-pull-6">
                            <p>
                                Powered is a company that creates FAQ/tutorial content for other companies and publishes the customer-specific content on the companies' websites. Intership position to help test websites. <a href="/Employer/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6">
                            <h2>2009</h2>
                            <h5>Software Developer Contract Position at Optimal Blue</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-hourglass"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Contract position for C# programming. Used C#, XML, and regular expressions to traverse through webpages in order to capture and validate data. <a href="/Employer/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6 col-md-push-6">
                            <h2>2010-2011</h2>
                            <h5>Software Developer Contract Position at Hedge Hog Capital</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-linegraph"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6 col-md-pull-6">
                            <p>
                                Hedge Hog Capital is a hedge fund in Atlanta, GA. Contract position as sole software developer to create new C# software, specifically algorithms to predict and analyze stock market behaviour. Main goal was to help improve the hedge fund's algorithms, secondary goal was to notify the user of the exact time/date to buy/sell. <a href="/Employer/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6">
                            <h2>2011</h2>
                            <h5>Web Developer Internship at iProspect (Range Online Media)</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-edit"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Internship position for C# and ASP.NET programming. Worked in an Agile Environment while gathering functional requirements from programmers and project manager in order to design and develop websites. <a href="/Employer/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6 col-md-push-6">
                            <h2>2011-2012</h2>
                            <h5>Software Developer at NexPay Inc (Talon)</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-documents"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6 col-md-pull-6">
                            <p>
                                Full-time position as SoftWare and Web Developer with C#, VB.NET, VB6, VBA, and front-end programming. Created macros for Excel documents, created reports by massaging data from delimited and flat files, created reports by developing dynamic programs in C# and VB.NET that used regular expressions to traverse through websites to gather data, and suggested solutions to payment errors by analyzing data. <a href="/Employer/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6">
                            <h2>2012-2018</h2>
                            <h5>Software Developer at MRN3</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-strategy"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Involved in all stages of programming life cycle. Developed 3 websites on front and back end involving intricate SQL queries for forms, reports, and a FAQ system. Complex mathematical calculations were often implemented to find the state of the loan and edit data. <a href="/Employer/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6 col-md-push-6">
                            <h2>2018-2020</h2>
                            <h5>Software Developer at PPDocs</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-puzzle"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6 col-md-pull-6">
                            <p>
                                "No Red Tape" environment where I was involved in all projects, no limitations. Not micromanaged (trusted with designs, time-management, to meet deadlines, and having flawless results). <a href="/Employer/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6">
                            <h2>2020</h2>
                            <h5>Freelance</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-target"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Created <a href="https://ParentAgent.com" class="link-text" target="_blank" rel="noopener noreferrer">Parent Agent</a> for a business a friend started. <a href="/Projects/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6 col-md-push-6">
                            <h2>2021</h2>
                            <h5>Freelance</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-target"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6 col-md-pull-6">
                            <p>
                                Created <a href="https://DFWAirConditioningExperts.com" class="link-text" target="_blank" rel="noopener noreferrer">DFW Air Conditioning Experts</a> for a new HVAC servicing business a friend and I started. <a href="/Projects/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6">
                            <h2>2021</h2>
                            <h5>Freelance</h5>
                        </div>
                        <div class="middle">
                            <i class="icon icon-target"></i>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Created <a href="#" class="link-text">Willie Sandoval</a> to put my skills on display and share my notes with others. <a href="/Projects/Index" class="link-text">View Details</a>.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

