@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WILLIE SANDOVAL</h1>
    <p>
        Detail-oriented professional with 12+ years of experience and a proven knowledge of
        application development, web design, and database design.
    </p>
</div>
<br />
<hr />
<br />

<div class="container pt-3">
    <div class="container">
        <div class="row">
            <h1>Experience</h1>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <h3>Previous Employers</h3>
                <ul>
                    <li><a href="Employer/Index">Companies</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Portfolio</h3>
                <ul>
                    <li><a href="http://WillieSandoval.com">WillieSandoval.com</a></li>
                    <li><a href="https://DFWAirConditioningExperts.com">DFWAirConditioningExperts.com</a></li>
                    <li><a href="https://ParentAgent.com">ParentAgent.com</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Projects</h3>
                <ul>
                    <li><a href="Projects/Index">List of Projects</a></li>
                    <li><a href="Projects/ListOfProjectsCompactView">List of Projects (Compact View)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <br />
    <div class="container">
        <div class="row">
            <h1>Sample Code</h1>
        </div>
        <!-- NOTES -->
        <div class="row">
            <div class="text-body">
                Note:
                <ul>
                    <li>All code has been obfuscated for security reasons.</li>
                </ul>
            </div>
        </div>
        <br />
        <!-- end of NOTES -->
        <div class="row">
            <div class="col-4">
                <h2>SQL</h2>
                <ul>
                    <li><a href="SampleCodeSQL/CustomPagination">Custom Pagination</a></li>
                    <li><a href="SampleCodeSQL/AdvancedQuery">Advanced Query</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h2>C#</h2>
                <ul>
                    <li><a href="SampleCodeCSharp/RepositoryPatternWithGenericsInDotNETCore">Repository Pattern with Generics In .NET Core</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h2>VB.NET</h2>
                <ul>
                    <li><a href="SampleCodeVBDotNET/GetSignatureCoordinatesFromPDF">Get Signature Coordinates From PDF</a></li>
                    <li><a href="SampleCodeVBDotNET/SeparatePDFIntoSmallerPDFs">Separate PDF Into Smaller PDFs</a></li>
                    <li><a href="SampleCodeVBDotNET/NonBorrowerToViewDocuSignDisclosureUpdates">non-Borrowers To View DocuSign Disclosure Updates</a></li>
                    <li><a href="SampleCodeVBDotNET/CustomSort">Custom Sort Project</a></li>
                    <li><a href="SampleCodeVBDotNET/NutshellWebServices">Nutshell - Web Services</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h2>Front End</h2>
                <ul>
                    <li><a href="SampleCodeFrontEnd/JQueryDatatables">JQuery Datatables</a></li>
                    <li><a href="SampleCodeFrontEnd/JQueryDatatablesCustom">JQuery Datatables - added to existing code</a></li>
                    <li><a href="SampleCodeFrontEnd/ChangeExitToAsyncCall">Change to Async</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <br />
    <div class="container">
        <div class="row">
            <h1>Notes (External Sources)</h1>
        </div>
        <div class="row">
            @*<div class="col-4">
                    <h2>SQL</h2>
                    <ul>
                        <li><a href="SampleCodeSQL/CustomPagination">Custom Pagination *</a></li>
                        <li><a href="SampleCodeSQL/AdvancedQuery">Advanced Query *</a></li>
                    </ul>
                </div>*@
            @*<div class="col-4">
                    <h2>C#</h2>
                    <ul>
                        <li><a href="SampleCodeCSharp/SOLIDPrincipal">SOLID Principal</a></li>
                        <li><a href="SampleCodeCSharp/RepositoryPatternWithGenericsInDotNETCore">Repository Pattern with Generics In .NET Core *</a></li>
                    </ul>
                </div>*@
            @*<div class="col-4">
                    <h2>OOP</h2>
                    <ul>
                            <li><a href="SampleCode/GeneralNotesCSharp">General Notes</a></li>
                        </ul>
                        <ul>
                            <li><a href="SampleCode/AdvancedCSharp">Advanced</a></li>
                        </ul>
                </div>*@
        </div>
    </div>
    <hr />
    <br />
    <div class="container">
        <div class="row">
            <h1>Soft Skills</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Soft Skills</h2>
                <ul>
                    <li>Detail & Results-Oriented</li>
                    <li>Problem Solving & Critical Thinking</li>
                    <li>Strong Work Ethic, Punctual, & Depandable</li>
                    <li>Time Management</li>
                    <li>Honest, Transparent, & Loyal</li>
                    <li>Teamwork & Desire to Learn & Teach</li>
                    <li>Design Aptitude & Thinking Outside Box</li>
                </ul>
            </div>
        </div>
    </div>
</div>


