

/* Font Sizes
-------------------------------------------------- */
.font-size-point75 {
    font-size: 0.75rem;
}


/* Random
-------------------------------------------------- */
table.dataTable tbody td {
    vertical-align: top !important;
}

.code {
    background-color: #444444;
    padding: 1rem;
    border: solid 0.1rem;
    white-space: pre;
    overflow: auto;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.1rem;
}

.pre-line {
    white-space: pre-wrap;
}

.white-space-normal {
    white-space: normal;
}


.bg-light {
    background-color: #f8f9fa !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #dae0e5 !important;
}


.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

    .btn-light:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }

    .btn-light:focus, .btn-light.focus {
        box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
    }

    .btn-light.disabled, .btn-light:disabled {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }

    .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
    .show > .btn-light.dropdown-toggle {
        color: #212529;
        background-color: #dae0e5;
        border-color: #d3d9df;
    }

        .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
        .show > .btn-light.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
        }



.back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    width: 10rem;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
    .top-bar .logo.logo-wide {
        bottom: 30px;
        margin-bottom: 22px;
    }
}
