@model WillieSandoval_2_28_2021.ViewModels.SampleCodeSQLViewModel

<div class="main-container">
    <section class="showBullets">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8">

                    <h1>@ViewData["Title"]</h1>

                    <div class="container">
                        <div class="row">
                            Below is an example of custom pagination and sorting.
                        </div>
                        <br />
                        <div class="row">
                            <div class="code"><div class="code">@Html.Raw(Model.CustomPagination)</div></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>